.App {
  text-align: center;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
a:-webkit-any-link:hover {
  text-decoration: underline;
  color: #2050fe;
}

a:-webkit-any-link.active {
  text-decoration: underline;
  color: #2050fe;
}
